---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/crm/v3/objects/Contact
    body:
      encoding: UTF-8
      string: '{"properties":{"firstname":"Kristine","lastname":"Stensrud","email":"hallie@skiwo.com"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <HUBSPOT_TOKEN>
  response:
    status:
      code: 201
      message: ''
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - https://api.hubapi.com/crm/v3/objects/Contact/2823801
      X-Evy-Trace-Listener:
      - listener_https
      X-Evy-Trace-Route-Configuration:
      - listener_https/all
      X-Evy-Trace-Route-Service-Name:
      - envoyset-translator
      X-Evy-Trace-Served-By-Pod:
      - iad02/hubapi-td/envoy-proxy-59d6fb747d-b27mr
      X-Evy-Trace-Virtual-Host:
      - all
      X-Hubspot-Correlation-Id:
      - 6a99db49-2fac-4855-9f2f-ab2b238a9928
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '499955'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '149'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '14'
      X-Trace:
      - 2B432733053385E7161C26207B7911ED80D6DAEDF9000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"id":"2823801","properties":{"createdate":"2024-02-28T07:55:38.480Z","email":"hallie@skiwo.com","firstname":"Kristine","hs_all_contact_vids":"2823801","hs_email_domain":"skiwo.com","hs_is_contact":"true","hs_is_unworked":"true","hs_lifecyclestage_lead_date":"2024-02-28T07:55:38.480Z","hs_object_id":"2823801","hs_object_source":"INTEGRATION","hs_object_source_id":"2448769","hs_object_source_label":"INTEGRATION","hs_pipeline":"contacts-lifecycle-pipeline","lastmodifieddate":"2024-02-28T07:55:38.480Z","lastname":"Stensrud","lifecyclestage":"lead"},"createdAt":"2024-02-28T07:55:38.480Z","updatedAt":"2024-02-28T07:55:38.480Z","archived":false}'
  recorded_at: Wed, 28 Feb 2024 07:55:38 GMT
- request:
    method: delete
    uri: https://api.hubapi.com/crm/v3/objects/Contact/2823801
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <HUBSPOT_TOKEN>
  response:
    status:
      code: 204
      message: ''
    headers:
      X-Evy-Trace-Listener:
      - listener_https
      X-Evy-Trace-Route-Configuration:
      - listener_https/all
      X-Evy-Trace-Route-Service-Name:
      - envoyset-translator
      X-Evy-Trace-Served-By-Pod:
      - iad02/hubapi-td/envoy-proxy-59d6fb747d-8fqsk
      X-Evy-Trace-Virtual-Host:
      - all
      X-Hubspot-Correlation-Id:
      - 4f707bbe-489b-473b-9bc5-908f7d4536e7
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '499954'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '148'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '14'
      X-Trace:
      - 2B0467E6DDAC9936999FF2AC3811DAFA77075EA0D9000000000000000000
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Wed, 28 Feb 2024 07:55:39 GMT
recorded_with: VCR 6.2.0
