---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/crm/v3/objects/product
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"Product One [TEST]","price":"1000.0","platform_uid":"test-platform-uid","description":"Test
        Product in development","hs_recurring_billing_period":"P12M"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <HUBSPOT_TOKEN>
  response:
    status:
      code: 201
      message: ''
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - https://api.hubapi.com/crm/v3/objects/product/2838295182
      X-Evy-Trace-Listener:
      - listener_https
      X-Evy-Trace-Route-Configuration:
      - listener_https/all
      X-Evy-Trace-Route-Service-Name:
      - envoyset-translator
      X-Evy-Trace-Served-By-Pod:
      - iad02/hubapi-td/envoy-proxy-5d47c8d44f-jpg76
      X-Evy-Trace-Virtual-Host:
      - all
      X-Hubspot-Correlation-Id:
      - 731f9a13-be71-4a79-b245-ca6caf541f45
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '499919'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '149'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '14'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"2838295182","properties":{"createdate":"2024-06-13T08:51:50.724Z","description":"Test
        Product in development","hs_lastmodifieddate":"2024-06-13T08:51:50.724Z","hs_object_id":"2838295182","hs_object_source":"INTEGRATION","hs_object_source_id":"2448769","hs_object_source_label":"INTEGRATION","hs_price_nok":"1000.0","hs_recurring_billing_period":"P12M","name":"Product
        One [TEST]","platform_uid":"test-platform-uid","price":"1000.0"},"createdAt":"2024-06-13T08:51:50.724Z","updatedAt":"2024-06-13T08:51:50.724Z","archived":false}'
  recorded_at: Thu, 13 Jun 2024 08:51:50 GMT
- request:
    method: post
    uri: https://api.hubapi.com/crm/v3/objects/product/search
    body:
      encoding: UTF-8
      string: '{"filterGroups":[{"filters":[{"value":"test-platform-uid","propertyName":"platform_uid","operator":"EQ"}]}],"properties":["hs_object_id","createdate","lastmodifieddate","name","price","hs_sku","description","hs_cost_of_goods_sold","hs_recurring_billing_period","platform_uid","platform_url"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <HUBSPOT_TOKEN>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Evy-Trace-Listener:
      - listener_https
      X-Evy-Trace-Route-Configuration:
      - listener_https/all
      X-Evy-Trace-Route-Service-Name:
      - envoyset-translator
      X-Evy-Trace-Served-By-Pod:
      - iad02/hubapi-td/envoy-proxy-5d47c8d44f-jzhts
      X-Evy-Trace-Virtual-Host:
      - all
      X-Hubspot-Correlation-Id:
      - c2a47da5-b1a2-4320-8541-c99cdf680b49
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '499918'
    body:
      encoding: ASCII-8BIT
      string: '{"total":8,"results":[{"id":"2838233682","properties":{"createdate":"2024-06-13T07:50:45.078Z","description":null,"hs_cost_of_goods_sold":"0","hs_lastmodifieddate":"2024-06-13T08:04:08.943Z","hs_object_id":"2838233682","hs_recurring_billing_period":"P12M","hs_sku":null,"name":"[TEST]
        Product One","platform_uid":"test-platform-uid","platform_url":null,"price":"1000.0"},"createdAt":"2024-06-13T07:50:45.078Z","updatedAt":"2024-06-13T08:04:08.943Z","archived":false},{"id":"2838227796","properties":{"createdate":"2024-06-13T08:05:09.159Z","description":"Test
        Product in development","hs_cost_of_goods_sold":null,"hs_lastmodifieddate":"2024-06-13T08:05:09.933Z","hs_object_id":"2838227796","hs_recurring_billing_period":"P12M","hs_sku":null,"name":"[TEST]
        Product One","platform_uid":"test-platform-uid","platform_url":null,"price":[...]
- request:
    method: delete
    uri: https://api.hubapi.com/crm/v3/objects/product/2838295182
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <HUBSPOT_TOKEN>
  response:
    status:
      code: 204
      message: ''
    headers:
      X-Evy-Trace-Listener:
      - listener_https
      X-Evy-Trace-Route-Configuration:
      - listener_https/all
      X-Evy-Trace-Route-Service-Name:
      - envoyset-translator
      X-Evy-Trace-Served-By-Pod:
      - iad02/hubapi-td/envoy-proxy-5d47c8d44f-h4629
      X-Evy-Trace-Virtual-Host:
      - all
      X-Hubspot-Correlation-Id:
      - 35df6681-9192-4f88-9524-4bc45268590b
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '499917'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '148'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '14'
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Thu, 13 Jun 2024 08:51:51 GMT
recorded_with: VCR 6.2.0
