---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/crm/v3/objects/product
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"Product One [TEST]","price":"1000.0","platform_uid":"test-platform-uid","description":"Test
        Product in development","hs_recurring_billing_period":"P12M"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <HUBSPOT_TOKEN>
  response:
    status:
      code: 201
      message: ''
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - https://api.hubapi.com/crm/v3/objects/product/2838288915
      X-Evy-Trace-Listener:
      - listener_https
      X-Evy-Trace-Route-Configuration:
      - listener_https/all
      X-Evy-Trace-Route-Service-Name:
      - envoyset-translator
      X-Evy-Trace-Served-By-Pod:
      - iad02/hubapi-td/envoy-proxy-5d47c8d44f-jzhts
      X-Evy-Trace-Virtual-Host:
      - all
      X-Hubspot-Correlation-Id:
      - 5f6b46b7-efb1-45e7-9b85-6bc668e1d9fd
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '499916'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '147'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '14'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"2838288915","properties":{"createdate":"2024-06-13T08:51:51.558Z","description":"Test
        Product in development","hs_lastmodifieddate":"2024-06-13T08:51:51.558Z","hs_object_id":"2838288915","hs_object_source":"INTEGRATION","hs_object_source_id":"2448769","hs_object_source_label":"INTEGRATION","hs_price_nok":"1000.0","hs_recurring_billing_period":"P12M","name":"Product
        One [TEST]","platform_uid":"test-platform-uid","price":"1000.0"},"createdAt":"2024-06-13T08:51:51.558Z","updatedAt":"2024-06-13T08:51:51.558Z","archived":false}'
  recorded_at: Thu, 13 Jun 2024 08:51:51 GMT
- request:
    method: patch
    uri: https://api.hubapi.com/crm/v3/objects/product/2838288915
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"Product One [TEST] Updated"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <HUBSPOT_TOKEN>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Evy-Trace-Listener:
      - listener_https
      X-Evy-T[...]
- request:
    method: delete
    uri: https://api.hubapi.com/crm/v3/objects/product/2838288915
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <HUBSPOT_TOKEN>
  response:
    status:
      code: 204
      message: ''
    headers:
      X-Evy-Trace-Listener:
      - listener_https
      X-Evy-Trace-Route-Configuration:
      - listener_https/all
      X-Evy-Trace-Route-Service-Name:
      - envoyset-translator
      X-Evy-Trace-Served-By-Pod:
      - iad02/hubapi-td/envoy-proxy-5d47c8d44f-l2tws
      X-Evy-Trace-Virtual-Host:
      - all
      X-Hubspot-Correlation-Id:
      - 7233e1d3-7efd-4621-85e0-d6cc59f4b141
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '499914'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '145'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '14'
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Thu, 13 Jun 2024 08:51:52 GMT
recorded_with: VCR 6.2.0
