---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/crm/v3/objects/contacts
    body:
      encoding: UTF-8
      string: '{"properties":{"firstname":"Gene Ric","lastname":"Test User","email":"generic.testuser@skiwo.com","phone":"99887766"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer pat-na1-37abbdbc-3957-44e6-b6eb-ec1ae1099e66
  response:
    status:
      code: 409
      message: ''
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Evy-Trace-Listener:
      - listener_https
      X-Evy-Trace-Route-Configuration:
      - listener_https/all
      X-Evy-Trace-Route-Service-Name:
      - envoyset-translator
      X-Evy-Trace-Served-By-Pod:
      - iad02/hubapi-td/envoy-proxy-fcdc68c87-w6tc2
      X-Evy-Trace-Virtual-Host:
      - all
      X-Hubspot-Correlation-Id:
      - 91bda2c2-7511-4ac8-9165-795c7f006cc1
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '499986'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '149'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '14'
      X-Trace:
      - 2B076DC3D8F7A78E2E7D6E00D870B00F7BD80F5667000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"status":"error","message":"Contact already exists. Existing ID: 2701151","correlationId":"91bda2c2-7511-4ac8-9165-795c7f006cc1","category":"CONFLICT"}'
  recorded_at: Mon, 05 Feb 2024 11:50:57 GMT
recorded_with: VCR 6.2.0
