---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/crm/v3/objects/contacts
    body:
      encoding: UTF-8
      string: '{"properties":{"firstname":"Gene Ric","lastname":"Test User","email":"generic.testuser@skiwo.com","phone":"99887766"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer pat-na1-37abbdbc-3957-44e6-b6eb-ec1ae1099e66
  response:
    status:
      code: 201
      message: ''
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - https://api.hubapi.com/crm/v3/objects/contacts/2712201
      X-Evy-Trace-Listener:
      - listener_https
      X-Evy-Trace-Route-Configuration:
      - listener_https/all
      X-Evy-Trace-Route-Service-Name:
      - envoyset-translator
      X-Evy-Trace-Served-By-Pod:
      - iad02/hubapi-td/envoy-proxy-fcdc68c87-zdcvs
      X-Evy-Trace-Virtual-Host:
      - all
      X-Hubspot-Correlation-Id:
      - b0935888-dc7e-4682-8eaf-3472e7eb9b80
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '499985'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '149'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '14'
      X-Trace:
      - 2B7487BF3B8DCDD571B39EE4A4BAF5A6A66D775B95000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"id":"2712201","properties":{"createdate":"2024-02-05T12:00:12.212Z","email":"generic.testuser@skiwo.com","firstname":"Gene
        Ric","hs_all_contact_vids":"2712201","hs_email_domain":"skiwo.com","hs_is_contact":"true","hs_is_unworked":"true","hs_lifecyclestage_lead_date":"2024-02-05T12:00:12.212Z","hs_object_id":"2712201","hs_object_source":"INTEGRATION","hs_object_source_id":"2448769","hs_object_source_label":"INTEGRATION","hs_pipeline":"contacts-lifecycle-pipeline","hs_searchable_calculated_phone_number":"99887766","lastmodifieddate":"2024-02-05T12:00:12.212Z","lastname":"Test
        User","lifecyclestage":"lead","phone":"99887766"},"createdAt":"2024-02-05T12:00:12.212Z","updatedAt":"2024-02-05T12:00:12.212Z","archived":false}'
  recorded_at: Mon, 05 Feb 2024 12:00:12 GMT
recorded_with: VCR 6.2.0
