---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/crm/v3/objects/Contact
    body:
      encoding: UTF-8
      string: '{"properties":{"firstname":"Fredrik","lastname":"Larsen","email":"generic.testuser@skiwo.com","phone":"+47
        34 78 31 96"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <HUBSPOT_TOKEN>
  response:
    status:
      code: 201
      message: ''
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - https://api.hubapi.com/crm/v3/objects/Contact/2823701
      X-Evy-Trace-Listener:
      - listener_https
      X-Evy-Trace-Route-Configuration:
      - listener_https/all
      X-Evy-Trace-Route-Service-Name:
      - envoyset-translator
      X-Evy-Trace-Served-By-Pod:
      - iad02/hubapi-td/envoy-proxy-59d6fb747d-nhqt8
      X-Evy-Trace-Virtual-Host:
      - all
      X-Hubspot-Correlation-Id:
      - 4959029c-9d9d-4397-9c51-9b8fcad9ec21
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '499968'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '141'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '14'
      X-Trace:
      - 2B8AAD7B290D024DDBA1AA7BE1E6F9DF1D2E3F6E75000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"id":"2823701","properties":{"createdate":"2024-02-28T07:41:35.178Z","email":"generic.testuser@skiwo.com","firstname":"Fredrik","hs_all_contact_vids":"2823701","hs_email_domain":"skiwo.com","hs_is_contact":"true","hs_is_unworked":"true","hs_lifecyclestage_lead_date":"2024-02-28T07:41:35.178Z","hs_object_id":"2823701","hs_object_source":"INTEGRATION","hs_object_source_id":"2448769","hs_object_source_label":"INTEGRATION","hs_pipeline":"contacts-lifecycle-pipeline","hs_searchable_calculated_phone_number":"4734783196","lastmodifieddate":"2024-02-28T07:41:35.178Z","lastname":"Larsen","lifecyclestage":"lead","phone":"+47
        34 78 31 96"},"createdAt":"2024-02-28T07:41:35.178Z","updatedAt":"2024-02-28T07:41:35.178Z","archived":false}'
  recorded_at: Wed, 28 Feb 2024 07:41:35 GMT
recorded_with: VCR 6.2.0
