---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/crm/v3/objects/Contact
    body:
      encoding: UTF-8
      string: '{"properties":{"firstname":"Helene","lastname":"Gundersen","email":"generic.testuser@skiwo.com","phone":"+47
        548 41 929"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer pat-na1-37abbdbc-3957-44e6-b6eb-ec1ae1099e66
  response:
    status:
      code: 201
      message: ''
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - https://api.hubapi.com/crm/v3/objects/Contact/2726201
      X-Evy-Trace-Listener:
      - listener_https
      X-Evy-Trace-Route-Configuration:
      - listener_https/all
      X-Evy-Trace-Route-Service-Name:
      - envoyset-translator
      X-Evy-Trace-Served-By-Pod:
      - iad02/hubapi-td/envoy-proxy-f7f4ffb8f-7dt4b
      X-Evy-Trace-Virtual-Host:
      - all
      X-Hubspot-Correlation-Id:
      - fb2f6091-a850-412f-a39d-c20dffb16dcf
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '499982'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '149'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '14'
      X-Trace:
      - 2B7A8CA98AD5F47CFBE0ACF8A6C4945E8AA7E63D99000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"id":"2726201","properties":{"createdate":"2024-02-08T09:40:00.517Z","email":"generic.testuser@skiwo.com","firstname":"Helene","hs_all_contact_vids":"2726201","hs_email_domain":"skiwo.com","hs_is_contact":"true","hs_is_unworked":"true","hs_lifecyclestage_lead_date":"2024-02-08T09:40:00.517Z","hs_object_id":"2726201","hs_object_source":"INTEGRATION","hs_object_source_id":"2448769","hs_object_source_label":"INTEGRATION","hs_pipeline":"contacts-lifecycle-pipeline","hs_searchable_calculated_phone_number":"4754841929","lastmodifieddate":"2024-02-08T09:40:00.517Z","lastname":"Gundersen","lifecyclestage":"lead","phone":"+47
        548 41 929"},"createdAt":"2024-02-08T09:40:00.517Z","updatedAt":"2024-02-08T09:40:00.517Z","archived":false}'
  recorded_at: Thu, 08 Feb 2024 09:40:00 GMT
recorded_with: VCR 6.2.0
