---
http_interactions:
- request:
    method: patch
    uri: https://api.hubapi.com/crm/v3/objects/Contact/999999999999
    body:
      encoding: UTF-8
      string: '{"properties":{"firstname":"Maria","lastname":"Svendsen","email":"generic.testuser@skiwo.com","phone":"+47
        39 17 87 36"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer pat-na1-37abbdbc-3957-44e6-b6eb-ec1ae1099e66
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Evy-Trace-Listener:
      - listener_https
      X-Evy-Trace-Route-Configuration:
      - listener_https/all
      X-Evy-Trace-Route-Service-Name:
      - envoyset-translator
      X-Evy-Trace-Served-By-Pod:
      - iad02/hubapi-td/envoy-proxy-f7f4ffb8f-db7qj
      X-Evy-Trace-Virtual-Host:
      - all
      X-Hubspot-Correlation-Id:
      - ddf4c9e5-8561-43c0-bcae-73bf8caaa91e
      X-Hubspot-Notfound:
      - 'true'
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '499981'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '148'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '14'
      X-Trace:
      - 2B824952E33967964926EC591B01A14C0C09CD0AD5000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"status":"error","message":"resource not found","correlationId":"ddf4c9e5-8561-43c0-bcae-73bf8caaa91e"}'
  recorded_at: Thu, 08 Feb 2024 09:40:01 GMT
recorded_with: VCR 6.2.0
