---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/crm/v3/objects/contacts/search
    body:
      encoding: UTF-8
      string: '{"filterGroups":[{"filters":[{"value":"57244c78-6900-44bc-8c96-863ec1e2b44f","propertyName":"platform_id","operator":"EQ"}]}],"properties":["hs_object_id","firstname","lastname","email","phone","createdate","lastmodifieddate","platform_id"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer pat-na1-37abbdbc-3957-44e6-b6eb-ec1ae1099e66
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Evy-Trace-Listener:
      - listener_https
      X-Evy-Trace-Route-Configuration:
      - listener_https/all
      X-Evy-Trace-Route-Service-Name:
      - envoyset-translator
      X-Evy-Trace-Served-By-Pod:
      - iad02/hubapi-td/envoy-proxy-f7f4ffb8f-fbplv
      X-Evy-Trace-Virtual-Host:
      - all
      X-Hubspot-Correlation-Id:
      - 649257a3-09e8-465c-ae2e-8c784f877489
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '499991'
      X-Trace:
      - 2B18940B6D55316820BBE212A89EA5291473A8D560000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"total":1,"results":[{"id":"2624153","properties":{"createdate":"2024-01-25T09:21:10.156Z","email":"ljubezr@yahoo.com","firstname":"Ljubisa","hs_object_id":"2624153","lastmodifieddate":"2024-01-25T09:34:40.386Z","lastname":"Gavrilovic","phone":null,"platform_id":"57244c78-6900-44bc-8c96-863ec1e2b44f"},"createdAt":"2024-01-25T09:21:10.156Z","updatedAt":"2024-01-25T09:34:40.386Z","archived":false}]}'
  recorded_at: Wed, 07 Feb 2024 07:16:40 GMT
recorded_with: VCR 6.2.0
