---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/crm/v3/objects/Contact/search
    body:
      encoding: UTF-8
      string: '{"filterGroups":[{"filters":[{"value":"Don''t Exist","propertyName":"firstname","operator":"EQ"}]}],"properties":["hs_object_id","firstname","lastname","email","phone","createdate","lastmodifieddate","platform_id","associatedcompanyid"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer pat-na1-37abbdbc-3957-44e6-b6eb-ec1ae1099e66
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Evy-Trace-Listener:
      - listener_https
      X-Evy-Trace-Route-Configuration:
      - listener_https/all
      X-Evy-Trace-Route-Service-Name:
      - envoyset-translator
      X-Evy-Trace-Served-By-Pod:
      - iad02/hubapi-td/envoy-proxy-f7f4ffb8f-mqrjw
      X-Evy-Trace-Virtual-Host:
      - all
      X-Hubspot-Correlation-Id:
      - 40fa370f-008c-4bb6-890d-326091f6aa24
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '499997'
      X-Trace:
      - 2B29C9AFA90C413FD5A31799C34FEDCB3884671724000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"total":0,"results":[]}'
  recorded_at: Mon, 12 Feb 2024 08:11:46 GMT
recorded_with: VCR 6.2.0
