---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/crm/v3/objects/Contact/search
    body:
      encoding: UTF-8
      string: '{"filterGroups":[{"filters":[{"value":"Don''t Exist","propertyName":"firstname","operator":"EQ"}]}],"properties":["hs_object_id","createdate","lastmodifieddate","firstname","lastname","email","phone","lifecyclestage","hs_lead_status","associatedcompanyid","platform_uid","platform_url"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <HUBSPOT_TOKEN>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Evy-Trace-Listener:
      - listener_https
      X-Evy-Trace-Route-Configuration:
      - listener_https/all
      X-Evy-Trace-Route-Service-Name:
      - envoyset-translator
      X-Evy-Trace-Served-By-Pod:
      - iad02/hubapi-td/envoy-proxy-59d6fb747d-m6gmp
      X-Evy-Trace-Virtual-Host:
      - all
      X-Hubspot-Correlation-Id:
      - ba3164bf-b9ba-4983-be70-99d7f92e1759
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '499979'
      X-Trace:
      - 2BFD739B870FC18C798825BC1DD8B0E0BC6884D30C000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"total":0,"results":[]}'
  recorded_at: Wed, 28 Feb 2024 07:41:29 GMT
recorded_with: VCR 6.2.0
