---
http_interactions:
- request:
    method: patch
    uri: https://api.hubapi.com/crm/v3/objects/contacts/1
    body:
      encoding: UTF-8
      string: '{"properties":{"firstname":"Maria Updated","platform_id":"this-is-a-test-platform-id"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer pat-na1-37abbdbc-3957-44e6-b6eb-ec1ae1099e66
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Evy-Trace-Listener:
      - listener_https
      X-Evy-Trace-Route-Configuration:
      - listener_https/all
      X-Evy-Trace-Route-Service-Name:
      - envoyset-translator
      X-Evy-Trace-Served-By-Pod:
      - iad02/hubapi-td/envoy-proxy-fcdc68c87-xsh4f
      X-Evy-Trace-Virtual-Host:
      - all
      X-Hubspot-Correlation-Id:
      - db130b59-ca6d-481c-820b-9254c6a0069e
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '499982'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '149'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '14'
      X-Trace:
      - 2B9821A505562524C57AD8926B3A4844A0A0A09512000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"id":"1","properties":{"createdate":"2021-02-02T20:06:14.733Z","firstname":"Maria
        Updated","hs_is_contact":"true","hs_is_unworked":"true","hs_object_id":"1","hs_pipeline":"contacts-lifecycle-pipeline","hs_updated_by_user_id":"61794894","lastmodifieddate":"2024-02-05T12:24:28.725Z","lifecyclestage":"lead","notes_last_updated":"2023-05-14T15:26:32.837Z","platform_id":"this-is-a-test-platform-id"},"createdAt":"2021-02-02T20:06:14.733Z","updatedAt":"2024-02-05T12:24:28.725Z","archived":false}'
  recorded_at: Mon, 05 Feb 2024 12:24:28 GMT
recorded_with: VCR 6.2.0
