---
http_interactions:
- request:
    method: patch
    uri: https://api.hubapi.com/crm/v3/objects/Contact/1
    body:
      encoding: UTF-8
      string: '{"properties":{"firstname":"Maria Updated","platform_uid":"this-is-a-test-platform-id"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <HUBSPOT_TOKEN>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Evy-Trace-Listener:
      - listener_https
      X-Evy-Trace-Route-Configuration:
      - listener_https/all
      X-Evy-Trace-Route-Service-Name:
      - envoyset-translator
      X-Evy-Trace-Served-By-Pod:
      - iad02/hubapi-td/envoy-proxy-59d6fb747d-62gmh
      X-Evy-Trace-Virtual-Host:
      - all
      X-Hubspot-Correlation-Id:
      - 234fdc7e-1e36-4484-af34-6da630cac11d
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '499974'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '146'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '14'
      X-Trace:
      - 2B159513DCEDDF5649BD81DBFADEDE8F6CE357B9ED000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"id":"1","properties":{"createdate":"2021-02-02T20:06:14.733Z","first_deal_created_date":"","firstname":"Maria
        Updated","hs_all_accessible_team_ids":"5325968;17016493;17016509","hs_all_owner_ids":"82483371","hs_all_team_ids":"5325968","hs_count_is_unworked":"1","hs_count_is_worked":"0","hs_is_unworked":"true","hs_object_id":"1","hs_pipeline":"contacts-lifecycle-pipeline","hs_time_between_contact_creation_and_deal_creation":"","hs_updated_by_user_id":"61794894","hs_user_ids_of_all_owners":"25019600","hubspot_owner_assigneddate":"2024-02-08T14:15:25.643Z","hubspot_owner_id":"82483371","hubspot_team_id":"5325968","lastmodifieddate":"2024-02-28T07:29:54.355Z","lifecyclestage":"opportunity","notes_last_updated":"2023-05-14T15:26:32.837Z","platform_uid":"this-is-a-test-platform-id"},"createdAt":"2021-02-02T20:06:14.733Z","updatedAt":"2024-02-28T07:29:54.355Z","archived":false}'
  recorded_at: Wed, 28 Feb 2024 07:41:32 GMT
recorded_with: VCR 6.2.0
