---
http_interactions:
- request:
    method: patch
    uri: https://api.hubapi.com/crm/v3/objects/Contact/1
    body:
      encoding: UTF-8
      string: '{"properties":{"firstname":"Maria Updated","platform_id":"this-is-a-test-platform-id"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer pat-na1-37abbdbc-3957-44e6-b6eb-ec1ae1099e66
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Evy-Trace-Listener:
      - listener_https
      X-Evy-Trace-Route-Configuration:
      - listener_https/all
      X-Evy-Trace-Route-Service-Name:
      - envoyset-translator
      X-Evy-Trace-Served-By-Pod:
      - iad02/hubapi-td/envoy-proxy-f7f4ffb8f-54djw
      X-Evy-Trace-Virtual-Host:
      - all
      X-Hubspot-Correlation-Id:
      - 916834ee-373e-4c92-b634-5580a3297935
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '499977'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '146'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '14'
      X-Trace:
      - 2B9BECA3B43240C4CA1AE27863E196F9D149787B37000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"id":"1","properties":{"createdate":"2021-02-02T20:06:14.733Z","firstname":"Maria
        Updated","hs_is_contact":"true","hs_is_unworked":"true","hs_object_id":"1","hs_pipeline":"contacts-lifecycle-pipeline","hs_updated_by_user_id":"61794894","lastmodifieddate":"2024-02-08T09:40:02.139Z","lifecyclestage":"lead","notes_last_updated":"2023-05-14T15:26:32.837Z","platform_id":"this-is-a-test-platform-id"},"createdAt":"2021-02-02T20:06:14.733Z","updatedAt":"2024-02-08T09:40:02.139Z","archived":false}'
  recorded_at: Thu, 08 Feb 2024 09:40:02 GMT
recorded_with: VCR 6.2.0
