---
http_interactions:
- request:
    method: patch
    uri: https://api.hubapi.com/crm/v3/objects/Contact/1
    body:
      encoding: UTF-8
      string: '{"properties":{"firstname":"Maria Updated","platform_uid":"this-is-a-test-platform-id"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer pat-na1-37abbdbc-3957-44e6-b6eb-ec1ae1099e66
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Evy-Trace-Listener:
      - listener_https
      X-Evy-Trace-Route-Configuration:
      - listener_https/all
      X-Evy-Trace-Route-Service-Name:
      - envoyset-translator
      X-Evy-Trace-Served-By-Pod:
      - iad02/hubapi-td/envoy-proxy-59d6fb747d-brlf6
      X-Evy-Trace-Virtual-Host:
      - all
      X-Hubspot-Correlation-Id:
      - 6788bae9-2a63-4832-b52f-fac634e6d50e
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '499995'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '149'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '14'
      X-Trace:
      - 2BB5C97547C5F1942A244CC80074773D20BEA541C0000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"id":"1","properties":{"createdate":"2021-02-02T20:06:14.733Z","first_deal_created_date":"2024-02-20T12:19:38.688Z","firstname":"Maria
        Updated","hs_all_accessible_team_ids":"5325968;17016493;17016509","hs_all_owner_ids":"82483371","hs_all_team_ids":"5325968","hs_count_is_unworked":"1","hs_count_is_worked":"0","hs_is_contact":"true","hs_is_unworked":"true","hs_object_id":"1","hs_pipeline":"contacts-lifecycle-pipeline","hs_time_between_contact_creation_and_deal_creation":"96135203955","hs_updated_by_user_id":"61794894","hs_user_ids_of_all_owners":"25019600","hubspot_owner_assigneddate":"2024-02-08T14:15:25.643Z","hubspot_owner_id":"82483371","hubspot_team_id":"5325968","lastmodifieddate":"2024-02-23T08:09:04.204Z","lifecyclestage":"opportunity","notes_last_updated":"2023-05-14T15:26:32.837Z","platform_uid":"this-is-a-test-platform-id"},"createdAt":"2021-02-02T20:06:14.733Z","updatedAt":"2024-02-23T08:09:04.204Z","archived":false}'
  recorded_at: Fri, 23 Feb 2024 08:09:04 GMT
recorded_with: VCR 6.2.0
