---
http_interactions:
- request:
    method: patch
    uri: https://api.hubapi.com/crm/v3/objects/Contact/999999999999
    body:
      encoding: UTF-8
      string: '{"properties":{"firstname":"Erik","lastname":"Hansen","email":"generic.testuser@skiwo.com","phone":"+47
        39983167"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <HUBSPOT_TOKEN>
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Evy-Trace-Listener:
      - listener_https
      X-Evy-Trace-Route-Configuration:
      - listener_https/all
      X-Evy-Trace-Route-Service-Name:
      - envoyset-translator
      X-Evy-Trace-Served-By-Pod:
      - iad02/hubapi-td/envoy-proxy-59d6fb747d-w78w4
      X-Evy-Trace-Virtual-Host:
      - all
      X-Hubspot-Correlation-Id:
      - 43b4c6c1-95f5-44a1-96ba-551b60f63f5d
      X-Hubspot-Notfound:
      - 'true'
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '499970'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '142'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '14'
      X-Trace:
      - 2BAFA86A81B0D6838327160393EC5F73E44A0E4E32000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"status":"error","message":"resource not found","correlationId":"43b4c6c1-95f5-44a1-96ba-551b60f63f5d"}'
  recorded_at: Wed, 28 Feb 2024 07:41:34 GMT
recorded_with: VCR 6.2.0
