---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/crm/v3/objects/Company
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"Skiwo Sample Company","platform_uid":"test-platform-id","domain":"test.skiwo.com","org_number":"organisation-number"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <HUBSPOT_TOKEN>
  response:
    status:
      code: 201
      message: ''
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - https://api.hubapi.com/crm/v3/objects/Company/19266541416
      X-Evy-Trace-Listener:
      - listener_https
      X-Evy-Trace-Route-Configuration:
      - listener_https/all
      X-Evy-Trace-Route-Service-Name:
      - envoyset-translator
      X-Evy-Trace-Served-By-Pod:
      - iad02/hubapi-td/envoy-proxy-59d6fb747d-kc6c4
      X-Evy-Trace-Virtual-Host:
      - all
      X-Hubspot-Correlation-Id:
      - 8f3d73c1-d97b-45a5-8944-a3f79d2ce9c4
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '499998'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '149'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '14'
      X-Trace:
      - 2B02CF85D6EE3B40311213E4C9800B9FDA8CD7BF42000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"id":"19266541416","properties":{"createdate":"2024-02-28T07:30:28.112Z","domain":"test.skiwo.com","hs_lastmodifieddate":"2024-02-28T07:30:28.112Z","hs_object_id":"19266541416","hs_object_source":"INTEGRATION","hs_object_source_id":"2448769","hs_object_source_label":"INTEGRATION","hs_pipeline":"companies-lifecycle-pipeline","lifecyclestage":"lead","name":"Skiwo
        Sample Company","org_number":"organisation-number","platform_uid":"test-platform-id","website":"test.skiwo.com"},"createdAt":"2024-02-28T07:30:28.112Z","updatedAt":"2024-02-28T07:30:28.112Z","archived":false}'
  recorded_at: Wed, 28 Feb 2024 07:30:28 GMT
recorded_with: VCR 6.2.0
