---
http_interactions:
- request:
    method: patch
    uri: https://api.hubapi.com/crm/v3/objects/Company/999999999999
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"Løken RFH"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer pat-na1-37abbdbc-3957-44e6-b6eb-ec1ae1099e66
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Evy-Trace-Listener:
      - listener_https
      X-Evy-Trace-Route-Configuration:
      - listener_https/all
      X-Evy-Trace-Route-Service-Name:
      - envoyset-translator
      X-Evy-Trace-Served-By-Pod:
      - iad02/hubapi-td/envoy-proxy-f7f4ffb8f-9ch42
      X-Evy-Trace-Virtual-Host:
      - all
      X-Hubspot-Correlation-Id:
      - b8668d77-656d-4789-9b54-387fdd298662
      X-Hubspot-Notfound:
      - 'true'
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '499975'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '144'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '14'
      X-Trace:
      - 2B6999962666F281502B5B540AAF214439449A0EB7000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"status":"error","message":"resource not found","correlationId":"b8668d77-656d-4789-9b54-387fdd298662"}'
  recorded_at: Thu, 08 Feb 2024 09:40:02 GMT
recorded_with: VCR 6.2.0
