---
http_interactions:
- request:
    method: patch
    uri: https://api.hubapi.com/crm/v3/objects/Company/999999999999
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"Berntsen AS"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <HUBSPOT_TOKEN>
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Evy-Trace-Listener:
      - listener_https
      X-Evy-Trace-Route-Configuration:
      - listener_https/all
      X-Evy-Trace-Route-Service-Name:
      - envoyset-translator
      X-Evy-Trace-Served-By-Pod:
      - iad02/hubapi-td/envoy-proxy-59d6fb747d-xf8s4
      X-Evy-Trace-Virtual-Host:
      - all
      X-Hubspot-Correlation-Id:
      - f743048b-079d-4dca-84fc-1891155082aa
      X-Hubspot-Notfound:
      - 'true'
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '499989'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '143'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '14'
      X-Trace:
      - 2BB6036B93CBF0F42CA4881F0997A6F7308A8222B0000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"status":"error","message":"resource not found","correlationId":"f743048b-079d-4dca-84fc-1891155082aa"}'
  recorded_at: Wed, 28 Feb 2024 07:35:30 GMT
recorded_with: VCR 6.2.0
