---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/crm/v3/objects/companies/search
    body:
      encoding: UTF-8
      string: '{"filterGroups":[{"filters":[{"value":"test-platform-id","propertyName":"platform_id","operator":"EQ"}]}],"properties":["hs_object_id","name","domain","createdate","lastmodifieddate","platform_id"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer pat-na1-37abbdbc-3957-44e6-b6eb-ec1ae1099e66
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Evy-Trace-Listener:
      - listener_https
      X-Evy-Trace-Route-Configuration:
      - listener_https/all
      X-Evy-Trace-Route-Service-Name:
      - envoyset-translator
      X-Evy-Trace-Served-By-Pod:
      - iad02/hubapi-td/envoy-proxy-f7f4ffb8f-vxj62
      X-Evy-Trace-Virtual-Host:
      - all
      X-Hubspot-Correlation-Id:
      - 22c7f84d-9d14-490f-b9cd-ef1d146740ff
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '499992'
      X-Trace:
      - 2B540A3600D54DE34864AEDE5E8930D402892C88F7000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"total":1,"results":[{"id":"19002270347","properties":{"createdate":"2024-02-07T05:23:57.776Z","domain":"test.skiwo.com","hs_lastmodifieddate":"2024-02-07T05:25:57.358Z","hs_object_id":"19002270347","name":"Skiwo
        Sample Company Updated","platform_id":"test-platform-id"},"createdAt":"2024-02-07T05:23:57.776Z","updatedAt":"2024-02-07T05:25:57.358Z","archived":false}]}'
  recorded_at: Wed, 07 Feb 2024 07:16:39 GMT
recorded_with: VCR 6.2.0
