---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/crm/v3/objects/Company/search
    body:
      encoding: UTF-8
      string: '{"filterGroups":[{"filters":[{"value":"organisation-number","propertyName":"org_number","operator":"EQ"}]}],"properties":["hs_object_id","createdate","lastmodifieddate","name","domain","lifecyclestage","hs_lead_status","platform_uid","platform_url","platform_last_activity_date","platform_industry","platform_business_activity","org_number"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <HUBSPOT_TOKEN>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Evy-Trace-Listener:
      - listener_https
      X-Evy-Trace-Route-Configuration:
      - listener_https/all
      X-Evy-Trace-Route-Service-Name:
      - envoyset-translator
      X-Evy-Trace-Served-By-Pod:
      - iad02/hubapi-td/envoy-proxy-59d6fb747d-9hzz2
      X-Evy-Trace-Virtual-Host:
      - all
      X-Hubspot-Correlation-Id:
      - 7f960ee6-af32-47f6-b5d6-25e8c0d59b0d
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '499988'
      X-Trace:
      - 2B7D8BEC090B32C8443F6AE0EB6B00D44D5BDB9B44000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"total":1,"results":[{"id":"19266541416","properties":{"createdate":"2024-02-28T07:30:28.112Z","domain":"test.skiwo.com","hs_lastmodifieddate":"2024-02-28T07:35:28.575Z","hs_lead_status":null,"hs_object_id":"19266541416","lifecyclestage":"lead","name":"Skiwo
        Sample Company Updated","org_number":"organisation-number","platform_uid":"test-platform-id","platform_url":null},"createdAt":"2024-02-28T07:30:28.112Z","updatedAt":"2024-02-28T07:35:28.575Z","archived":false}]}'
  recorded_at: Wed, 28 Feb 2024 07:35:30 GMT
recorded_with: VCR 6.2.0
