---
http_interactions:
- request:
    method: patch
    uri: https://api.hubapi.com/crm/v3/objects/Company/19266541416
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"Skiwo Sample Company Updated"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <HUBSPOT_TOKEN>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Evy-Trace-Listener:
      - listener_https
      X-Evy-Trace-Route-Configuration:
      - listener_https/all
      X-Evy-Trace-Route-Service-Name:
      - envoyset-translator
      X-Evy-Trace-Served-By-Pod:
      - iad02/hubapi-td/envoy-proxy-59d6fb747d-m6gmp
      X-Evy-Trace-Virtual-Host:
      - all
      X-Hubspot-Correlation-Id:
      - 3910d78a-31ad-4bbe-bfa1-c68b8940d378
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '499992'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '145'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '14'
      X-Trace:
      - 2B6EC8D94FDC4AE064871E329E1319D1B285B875F1000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"id":"19266541416","properties":{"createdate":"2024-02-28T07:30:28.112Z","hs_lastmodifieddate":"2024-02-28T07:35:28.575Z","hs_object_id":"19266541416","hs_pipeline":"companies-lifecycle-pipeline","lifecyclestage":"lead","name":"Skiwo
        Sample Company Updated"},"createdAt":"2024-02-28T07:30:28.112Z","updatedAt":"2024-02-28T07:35:28.575Z","archived":false}'
  recorded_at: Wed, 28 Feb 2024 07:35:28 GMT
recorded_with: VCR 6.2.0
