---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/crm/v4/associations/Contact/Company/batch/read
    body:
      encoding: UTF-8
      string: '{"inputs":[{"id":"51"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer pat-na1-37abbdbc-3957-44e6-b6eb-ec1ae1099e66
  response:
    status:
      code: 207
      message: ''
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Evy-Trace-Listener:
      - listener_https
      X-Evy-Trace-Route-Configuration:
      - listener_https/all
      X-Evy-Trace-Route-Service-Name:
      - envoyset-translator
      X-Evy-Trace-Served-By-Pod:
      - iad02/hubapi-td/envoy-proxy-59d6fb747d-kqdrb
      X-Evy-Trace-Virtual-Host:
      - all
      X-Hubspot-Correlation-Id:
      - 5174ebfa-bc40-464f-b6a9-08dd7ec7f14e
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '499973'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '149'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '14'
      X-Trace:
      - 2BFEF940CD3858FFE5EE6CBD949DBDDC1D6A6780C6000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"status":"COMPLETE","results":[],"numErrors":1,"errors":[{"status":"error","category":"OBJECT_NOT_FOUND","subCategory":"crm.associations.NO_ASSOCIATIONS_FOUND","message":"No
        company is associated with contact 51.","context":{"fromObjectId":["51"],"fromObjectType":["contact"],"toObjectType":["company"]}}],"startedAt":"2024-02-23T09:25:33.658Z","completedAt":"2024-02-23T09:25:33.692Z"}'
  recorded_at: Fri, 23 Feb 2024 09:25:33 GMT
recorded_with: VCR 6.2.0
