---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/crm/v4/associations/Contact/Company/batch/read
    body:
      encoding: UTF-8
      string: '{"inputs":[{"id":"51"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <HUBSPOT_TOKEN>
  response:
    status:
      code: 207
      message: ''
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Evy-Trace-Listener:
      - listener_https
      X-Evy-Trace-Route-Configuration:
      - listener_https/all
      X-Evy-Trace-Route-Service-Name:
      - envoyset-translator
      X-Evy-Trace-Served-By-Pod:
      - iad02/hubapi-td/envoy-proxy-59d6fb747d-tk24p
      X-Evy-Trace-Virtual-Host:
      - all
      X-Hubspot-Correlation-Id:
      - 373e043b-7ad9-4e70-8cc7-1dea5b2e2773
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '499952'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '149'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '14'
      X-Trace:
      - 2B2CAA384FE0859B358BBB5E36F17369813BC52425000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"status":"COMPLETE","results":[],"numErrors":1,"errors":[{"status":"error","category":"OBJECT_NOT_FOUND","subCategory":"crm.associations.NO_ASSOCIATIONS_FOUND","message":"No
        company is associated with contact 51.","context":{"fromObjectId":["51"],"fromObjectType":["contact"],"toObjectType":["company"]}}],"startedAt":"2024-02-28T07:56:12.041Z","completedAt":"2024-02-28T07:56:12.058Z"}'
  recorded_at: Wed, 28 Feb 2024 07:56:12 GMT
recorded_with: VCR 6.2.0
