---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/crm/v4/associations/Contact/Company/batch/read
    body:
      encoding: UTF-8
      string: '{"inputs":[{"id":"1"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer pat-na1-37abbdbc-3957-44e6-b6eb-ec1ae1099e66
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Evy-Trace-Listener:
      - listener_https
      X-Evy-Trace-Route-Configuration:
      - listener_https/all
      X-Evy-Trace-Route-Service-Name:
      - envoyset-translator
      X-Evy-Trace-Served-By-Pod:
      - iad02/hubapi-td/envoy-proxy-f7f4ffb8f-pxpfs
      X-Evy-Trace-Virtual-Host:
      - all
      X-Hubspot-Correlation-Id:
      - 3c2d39cf-e2db-490d-b6b2-9e8d5c2a52b3
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '499973'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '142'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '14'
      X-Trace:
      - 2BD850D390D7A59F4D79597BE54964DD4CF182D72C000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"status":"COMPLETE","results":[{"from":{"id":"1"},"to":[{"toObjectId":9406789183,"associationTypes":[{"category":"HUBSPOT_DEFINED","typeId":279,"label":null},{"category":"HUBSPOT_DEFINED","typeId":1,"label":"Primary"}]},{"toObjectId":19019092085,"associationTypes":[{"category":"HUBSPOT_DEFINED","typeId":279,"label":null}]}]}],"startedAt":"2024-02-15T05:28:19.217Z","completedAt":"2024-02-15T05:28:19.230Z"}'
  recorded_at: Thu, 15 Feb 2024 05:28:19 GMT
recorded_with: VCR 6.2.0
