---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/crm/v4/associations/Contact/Company/batch/read
    body:
      encoding: UTF-8
      string: '{"inputs":[{"id":"1"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <HUBSPOT_TOKEN>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Evy-Trace-Listener:
      - listener_https
      X-Evy-Trace-Route-Configuration:
      - listener_https/all
      X-Evy-Trace-Route-Service-Name:
      - envoyset-translator
      X-Evy-Trace-Served-By-Pod:
      - iad02/hubapi-td/envoy-proxy-59d6fb747d-kqdrb
      X-Evy-Trace-Virtual-Host:
      - all
      X-Hubspot-Correlation-Id:
      - 40951fb5-b930-4064-a691-64dc83caaaa8
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '499897'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '149'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '14'
      X-Trace:
      - 2BC2F35D9888470FE6FC2B3C023ACE2F0EC3CCEF64000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"status":"COMPLETE","results":[{"from":{"id":"1"},"to":[{"toObjectId":19266541416,"associationTypes":[{"category":"HUBSPOT_DEFINED","typeId":279,"label":null},{"category":"HUBSPOT_DEFINED","typeId":1,"label":"Primary"}]}]}],"startedAt":"2024-02-28T09:41:02.218Z","completedAt":"2024-02-28T09:41:02.231Z"}'
  recorded_at: Wed, 28 Feb 2024 09:41:02 GMT
recorded_with: VCR 6.2.0
