---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/crm/v4/associations/DontExist/DontExist/batch/create
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <HUBSPOT_TOKEN>
  response:
    status:
      code: 400
      message: ''
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Evy-Trace-Listener:
      - listener_https
      X-Evy-Trace-Route-Configuration:
      - listener_https/all
      X-Evy-Trace-Route-Service-Name:
      - envoyset-translator
      X-Evy-Trace-Served-By-Pod:
      - iad02/hubapi-td/envoy-proxy-59d6fb747d-prfms
      X-Evy-Trace-Virtual-Host:
      - all
      X-Hubspot-Correlation-Id:
      - fbd3d6d7-4647-4d3d-a549-7d6c8c966c1e
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '499898'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '149'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '14'
      X-Trace:
      - 2BCD8A2C6AAAE579AFAB0E0DE9A4151834A6F41EB3000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"status":"error","message":"Unable to infer object type from: DontExist","correlationId":"fbd3d6d7-4647-4d3d-a549-7d6c8c966c1e"}'
  recorded_at: Wed, 28 Feb 2024 09:40:44 GMT
recorded_with: VCR 6.2.0
