---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/crm/v3/objects/Contact/1?archived=false&properties=hs_object_id,createdate,lastmodifieddate,firstname,lastname,email,phone,lifecyclestage,hs_lead_status,associatedcompanyid,platform_uid,platform_url
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <HUBSPOT_TOKEN>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Evy-Trace-Listener:
      - listener_https
      X-Evy-Trace-Route-Configuration:
      - listener_https/all
      X-Evy-Trace-Route-Service-Name:
      - envoyset-translator
      X-Evy-Trace-Served-By-Pod:
      - iad02/hubapi-td/envoy-proxy-59d6fb747d-4txdn
      X-Evy-Trace-Virtual-Host:
      - all
      X-Hubspot-Correlation-Id:
      - 660152e5-c115-4485-8ced-564b065e2c46
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '499946'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '146'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '14'
      X-Trace:
      - 2BCFADA2981C789511FAEAC11076D69DF266EC3EE0000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"id":"1","properties":{"associatedcompanyid":"","createdate":"2021-02-02T20:06:14.733Z","email":"emailmaria@hubspot.com","firstname":"Maria
        Updated","hs_lead_status":"NEW","hs_object_id":"1","lastmodifieddate":"2024-02-28T07:29:54.355Z","lastname":"Johnson
        (Sample Contact)","lifecyclestage":"opportunity","phone":null,"platform_uid":"this-is-a-test-platform-id","platform_url":null},"createdAt":"2021-02-02T20:06:14.733Z","updatedAt":"2024-02-28T07:29:54.355Z","archived":false}'
  recorded_at: Wed, 28 Feb 2024 07:57:25 GMT
- request:
    method: get
    uri: https://api.hubapi.com/crm/v3/objects/Company/19266541416?archived=false&properties=hs_object_id,createdate,lastmodifieddate,name,domain,lifecyclestage,hs_lead_status,platform_uid,platform_url,platform_last_activity_date,platform_industry,platform_business_activity,org_number
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <HUBSPOT_TOKEN>
  response:
    status:
 [...]
- request:
    method: post
    uri: https://api.hubapi.com/crm/v3/objects/Deal
    body:
      encoding: UTF-8
      string: '{"properties":{"dealname":"Test Deal via API","amount":"1000.00","pipeline":"3954956","dealstage":"13253661","hubspot_owner_id":"609225610"},"associations":[{"to":{"id":"1"},"types":[{"associationCategory":"HUBSPOT_DEFINED","associationTypeId":3}]},{"to":{"id":"19266541416"},"types":[{"associationCategory":"HUBSPOT_DEFINED","associationTypeId":341}]}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <HUBSPOT_TOKEN>
  response:
    status:
      code: 201
      message: ''
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - https://api.hubapi.com/crm/v3/objects/Deal/17767522592
      X-Evy-Trace-Listener:
      - listener_https
      X-Evy-Trace-Route-Configuration:
      - listener_https/all
      X-Evy-Trace-Route-Service-Name:
      - envoyset-translator
      X-Evy-Trace-Served-By-Pod:
      - iad02/hubapi-td/envoy-proxy-59d6fb747d-w78w4
      X-Evy-Trace-Virtual-Host:
      - all
      X-Hubspot-Correlation-Id:
      - 3cadbba9-7854-4737-8699-88c9ff841cfa
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '499944'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '144'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '14'
      X-Trace:
      - 2B8D481D05D0EC593B44B800DDE87593504086A908000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"id":"17767522592","properties":{"amount":"1000.00","amount_in_home_currency":"1000.00","createdate":"2024-02-28T07:57:26.209Z","days_to_close":"0","dealname":"Test
        Deal via API","dealstage":"13253661","hs_all_owner_ids":"609225610","hs_closed_amount":"0","hs_closed_amount_in_home_currency":"0","hs_closed_won_count":"0","hs_createdate":"2024-02-28T07:57:26.209Z","hs_days_to_close_raw":"0","hs_deal_stage_probability_shadow":"0.1000000000000000055511151231257827021181583404541015625","hs_forecast_amount":"1000.00","hs_is_active_shared_deal":"false","hs_is_closed":"false","hs_is_closed_won":"false","hs_is_deal_split":"false","hs_is_open_count":"1","hs_lastmodifieddate":"2024-02-28T07:57:26.209Z","hs_object_id":"17767522592","hs_object_source":"INTEGRATION","hs_object_source_id":"2448769","hs_object_source_label":"INTEGRATION","hs_projected_amount":"0","hs_projected_amount_in_home_currency":"0","hs_user_ids_of_all_owners":"61794894","hubspot_owner_assigneddate":"2024-02-28T07:57:26.209Z","hubspot_owner_id":"609225610","pipeline":"3954956"},"createdAt":"2024-02-28T07:57:26.209Z","updatedAt":"2024-02-28T07:57:26.209Z","archived":false}'
  recorded_at: Wed, 28 Feb 2024 07:57:26 GMT
recorded_with: VCR 6.2.0
