---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/crm/v3/objects/Deal/17632643995?archived=false&properties=hs_object_id,createdate,lastmodifieddate,dealname,amount,pipeline,closedate,dealstage,hubspot_owner_id,platform_id,platform_url
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer pat-na1-37abbdbc-3957-44e6-b6eb-ec1ae1099e66
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Evy-Trace-Listener:
      - listener_https
      X-Evy-Trace-Route-Configuration:
      - listener_https/all
      X-Evy-Trace-Route-Service-Name:
      - envoyset-translator
      X-Evy-Trace-Served-By-Pod:
      - iad02/hubapi-td/envoy-proxy-f7f4ffb8f-p4brg
      X-Evy-Trace-Virtual-Host:
      - all
      X-Hubspot-Correlation-Id:
      - 5e380c33-5b18-487e-aa38-1c59a152052a
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '499989'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '143'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '14'
      X-Trace:
      - 2B7BD5554A2E004B89E9EA19BA7751AEB3F663400B000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"id":"17632643995","properties":{"amount":"1000.00","closedate":null,"createdate":"2024-02-20T12:19:38.688Z","dealname":"Test
        Deal via API","dealstage":"13253661","hs_lastmodifieddate":"2024-02-20T12:20:19.001Z","hs_object_id":"17632643995","hubspot_owner_id":"609225610","pipeline":"3954956"},"createdAt":"2024-02-20T12:19:38.688Z","updatedAt":"2024-02-20T12:20:19.001Z","archived":false}'
  recorded_at: Tue, 20 Feb 2024 12:23:24 GMT
recorded_with: VCR 6.2.0
